body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f1e0c5;
    background-image: -webkit-repeating-radial-gradient(circle,
    #e6d3b4, #e0d0b8 50%, #e0d0b8 100%
    );
    background-image: repeating-radial-gradient(circle,
    #ecd8b9, #e0d0b8 50%, #e0d0b8 100%
    );
    background-size: 10px 10px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 3px solid white;
    background: #F8E391;
}

th {
    background-color: #f2f2f2;
    text-shadow: 0 1px 1px #2D2020;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #775300;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select, input[type="number"], input[type="date"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#create_account_button {
    margin-left: 50px;
}

#create_account_button button{
    width: 150px;
    height: 100px;
    font-size: 30px;
}

#create_account_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

#create_account_fields div{
    display: flex;
    flex-direction: row;
}

#create_account_fields div label{
    margin-right: 30px;
}


#create_account_fields{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0;
}

select {
    height: 34px;

}

#acc_on_page {
    width: auto;
    max-width: 200px;
}